<div class = "container">

  <header style= "justify-content: space-between; display: inline-flex; align-items: center; width: 100%;"> 
    <p style= "color: #ec442e">Lorem Ipsum</p>

  </header>

  <app-screen 
  [toptextInScreen] = toptextInScreen
  [bottomtextInScreen] = bottomtextInScreen>

  </app-screen>

  <div *ngFor = "let charList of charArray" class = "horizontal-buttons">
    <app-button *ngFor = "let i of charList"
    [buttonValue] = "i"
    (btnclick) = "onbuttonClick(i)"> </app-button>
  </div>
  
</div>
